*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    background-color: rgb(255, 145, 0);
    height: 50px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box{

    /* height: 250px;  */
    /* background-color: gray; */
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box img{
    max-width: 100%;  
}

.marca{
    font-size: 14px;
    
}

.descrizione{
    font-size: 18px;
    font-weight: bold;
}

.offerta{
    color: red;
    font-weight: bold;
}

.cancellato{
    text-decoration: line-through;
}

#footer{
    background-color: black;
    
}