*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */

header{
    position: sticky;
    background-color: rgb(255, 145, 0);
    min-height: 50px;
    top: 0;
    z-index: 900; 
    
}
.conteiner-head{
    width: 80%;
    margin: 0 auto;
}

/* lista per reparti */

li{
    list-style: none;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: #fff;
}

/* classe flex per allineare */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

#reparti{
    display: flex;
    color: #fff;
}

.reparti>li{
padding-right: 10PX;
}

.reparti:hover{
    color: blue;
}

/* logo */
 
#logo img{
   max-height: 30px;
}

.area-personale{
    padding-left: 10px;
}

/* regole main */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

/* conteiner foto e didascalia */

.box{

    /* DEBUG */

    /* height: 250px;  */
    /* background-color: gray; */

    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.box img{
    max-width: 100%;  
}

.conteiner{
    position: relative;
}


.discount{
    padding: 5px;
    position: absolute;
    bottom: 30px;
    left: 0;
    background-color: red;
    z-index: 30;
    color: #fff;
   
}

.box-verde{
    padding: 5px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    background-color: green;
    z-index: 30;
    color: #fff;
}

.box-verde2{
    padding: 5px;
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: green;
    z-index: 30;
    color: #fff;
}

.cuore{
    padding: 5px 15px;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    z-index: 30;
    color: black;
}

/* regole didasclia */

.marca{
    font-size: 14px;
    
}

.descrizione{
    font-size: 18px;
    font-weight: bold;
}

.offerta{
    color: red;
    font-weight: bold;
}

.cancellato{
    text-decoration: line-through;
}

/* regole over */

.foto2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 20;
}

.conteiner:hover .foto2{
    display: block;
}

/* hover cuore */

.cuore:hover{
    color: red;
}

/*regole footer */

footer{
    background-color: black;
    min-height: 80px;
    color: #fff;
}

#conteiner-footer{
    width: 80%;
    margin: 0 auto;
}

footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

#azienza{
    font-size: 18px;
    margin-bottom: 5px;
}

.informativa{
    display: flex;
    font-size: 15px;
}

.social{
    margin-top: 5px;
    padding:0 2px;
    text-align: center;
}